@import 'mixins';
@import 'vars';

.Background {
  height: 100vh;
  background: $color-bg;
  display: flex;
  overflow-x: hidden;

  @include respond(phone) {
    flex-direction: column;
    overflow-y: auto;
  }

  .Container {
    height: 100vh;
    flex: 1 1 0;
    min-width: 0;
  }

  .Main {
    &Content {
      min-height: 40rem;
      margin-top: 2rem;
      padding: 0 2rem;
      padding-bottom: 5rem;
    }

  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 68%;

  @include respond(tab-land) {
    font-size: 62.5%;
  }

  @include respond(tab-port) {
    font-size: 56.25%;
  }

  @include respond(big-desktop) {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
}

body,
textarea,
input {
  font-family: $font-family;
  font-size: $font-size-normal;
}
