<project name="GoraniReader" version="docear 1.0" ID="16BD45875A8EM13H1PAKZ1VYZV806UN1X359">
<folder type="library" name="Library">
<link type="literature_annotations" name="Literature &amp; Annotations" path="project://16BD45875A8EM13H1PAKZ1VYZV806UN1X359/_data/16BD45875A8EM13H1PAKZ1VYZV806UN1X359/default_files/literature_and_annotations.mm"/>
<link type="file" name="Temp" path="project://16BD45875A8EM13H1PAKZ1VYZV806UN1X359/_data/16BD45875A8EM13H1PAKZ1VYZV806UN1X359/default_files/temp.mm" system="true"/>
<link type="file" name="Trash" path="project://16BD45875A8EM13H1PAKZ1VYZV806UN1X359/_data/16BD45875A8EM13H1PAKZ1VYZV806UN1X359/default_files/trash.mm" system="true"/>
</folder>
<folder type="physical" name="My drafts" path="project://16BD45875A8EM13H1PAKZ1VYZV806UN1X359/_data/16BD45875A8EM13H1PAKZ1VYZV806UN1X359/My%20Drafts/"/>
<folder type="literature_repository" name="Literature repository" system="true">
<folder type="repository_path" name="default" path="file:/C:/Users/Sunho/Docear/projects/GoraniReader/literature_repository"/>
</folder>
<link type="references" name="References" path="project://16BD45875A8EM13H1PAKZ1VYZV806UN1X359/_data/16BD45875A8EM13H1PAKZ1VYZV806UN1X359/default_files/GoraniReader.bib" system="true"/>
</project>
