github "stephencelis/SQLite.swift" == 0.11.5
github "crossroadlabs/Regex" == 1.1.0
github "huri000/SwiftEntryKit" == 0.8.9
github "SnapKit/SnapKit" == 4.0.0
github "Moya/Moya" == 12.0.1
github "realm/realm-cocoa"
github "ashleymills/Reachability.swift" == 4.3.0
github "onevcat/Kingfisher" == 5.3.1
github "ChiliLabs/CHIPageControl" ~> 0.1.3
github "alexaubry/BulletinBoard"
github "evgenyneu/Cosmos" == 18.0
github "hackiftekhar/IQKeyboardManager" == 6.0.4
github "Cuberto/bubble-icon-tabbar"
