* linguist-vendored
*.py linguist-vendored=false
*.swift linguist-vendored=false
*.ts linguist-vendored=false
*.tsx linguist-vendored=false
*.js linguist-vendored
*/*.js linguist-vendored
*.kt linguist-vendored=false
*.go linguist-vendored=false
*.Rmd linguist-language=R
*.ipynb linguist-vendored
*/*.ipynb linguist-vendored

frontend/ios/Frameworks/* linguist-vendored