.DS_Store
.vscode
*.log*
*.swp
*.bak
._*
Carthage
/public/App/Auth/AuthProviders.plist

/scripts/epub/analyze/*.epub
/server/migrations/schema.sql
/server/database.yml
/server/db.yaml
/server/red.yaml
/server/target
/public/node_modules


log.txt

asdf.epub
