.DS_Store
.vscode
*.log*
*.swp
*.db
*.bak
._*

/scripts/epub/analyze/*.epub
/server/migrations/schema.sql
/server/database.yml
/server/target
/public/node_modules

aconfig.yaml
econfig.yaml
config.yaml
services.yaml

log.txt

asdf.epub

/public/build/
/public/ios/build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

/public/build/
.idea
.gradle
local.properties
*.iml

npm-debug.log
yarn-error.log

/public/buck-out/
\.buckd/
*.keystore

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

*.jsbundle
