github "stephencelis/SQLite.swift" ~> 0.11.5
github "crossroadlabs/Regex" ~> 1.1.0
github "scinfu/SwiftSoup" ~> 1.7.1
github "OAuthSwift/OAuthSwift" ~> 1.2.0
github "SwipeCellKit/SwipeCellKit" ~> 2.2.0
