@import 'mixins';
@import 'vars';

.Button {
  display: inline-flex;
  height: 5rem;
  align-items: center;
  justify-content: center;

  border: none;
  outline: none;

  vertical-align: middle;
  font-size: $font-size-normal;
  font-weight: 700;

  cursor: pointer;

  color: $color-white;
  background-color: $color-primary;

  @include transition(background-color 0.2s, color 0.2s);
  &:hover {
    color: darken($color-white, 10);
    background-color: darken($color-primary, 10);
  }

  &Gray {
    background-color: $color-gray;

    &:hover {
      color: darken($color-white, 10);
      background-color: darken($color-gray, 10);
    }
  }
}
