@import 'mixins';
@import 'vars';


.Card {
  background: white;
  padding: 2rem;
  box-shadow: $shadow-1;
  min-height: 17rem;

  &Header {
    display: flex;
    justify-content: space-between;

    font-size: $font-size-big;
  }

  &Main {
    margin-top: 1.5rem;
  }

  &Button {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
  }

  &Entry {
    display: block;
    word-wrap: break-word;
    font-size: $font-size-small;
    &:not(:first-child) {
      margin-top: 1rem;
    }
    &Title {
      display: inline;
      font-weight: 500;
    }
    &Content {
      display: inline;
      font-weight: 300;
    }
    &Aux {
      &:link,
      &:visited {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        vertical-align: middle;

        margin-bottom: 0.5rem;
        margin-left: 0.2rem;
        padding: 0.5rem;
        app-icon {
          display: inline-block;
          vertical-align: middle;
          width: 1.4rem;
          height: 1.4rem;
        }

        background-color: rgba($color-gray, 0);
        @include transition(background-color 0.2s);
      }

      &:hover {
        background-color: rgba($color-gray, 0.1);
      }
    }
  }
}
