@import 'mixins';
@import 'vars';

.MissionForm {
  label {
    display: block;
    margin-top: .5rem;
    margin-bottom: .5rem;
  }

  > div {
    display: flex !important;
    align-items: center  !important;
    margin-bottom: 1rem  !important;
  }

  input {
    display: block;
    padding: 0.5em !important;
    width: 100% !important;

    outline: none !important;

    font-size: $font-size-normal !important;
    color: $color-black !important;

    border: 1px solid $color-light-gray !important;
    border-radius: 0 !important;

    @include placeholder {
      color: $color-gray !important;
    }

    &:focus {
      border-color: $color-primary !important;
    }
	  &:disabled {
		  background: $color-pale-gray !important;
	  }
    @include transition(border-color 0.2s);
  }

  span {
    display: inline-block;
    margin-top: -2px;
    margin-right: -17px;
    margin-left: .5rem;
    flex: 0 4rem;
  }
}
