[Unit]
Description=apiserver
Wants=network-online.target
After=network-online.target
AssertFileIsExecutable=/gorani/gorani/apiserver/gorani

[Service]
WorkingDirectory=/gorani/apiserver
ExecStart=/gorani/gorani/apiserver/gorani
Restart=always
LimitNOFILE=65536
TimeoutStopSec=infinity
SendSIGKILL=no
[Install]
WantedBy=multi-user.target