<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>119282460172-ctk5ivd7nkphc0gnea1s03t158jp5g0a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.119282460172-ctk5ivd7nkphc0gnea1s03t158jp5g0a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>119282460172-qtfi4m6h8ciojhsqt6s9misoglcp77nu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAKSNPlmwq6-6N-tB5Z5G0oafGqTac-YzI</string>
	<key>GCM_SENDER_ID</key>
	<string>119282460172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kim.sunho.goraniReader</string>
	<key>PROJECT_ID</key>
	<string>gorani-reader-249509</string>
	<key>STORAGE_BUCKET</key>
	<string>gorani-reader-249509.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:119282460172:ios:fe8d024516d63538d07029</string>
	<key>DATABASE_URL</key>
	<string>https://gorani-reader-249509.firebaseio.com</string>
</dict>
</plist>