.SwipeItem {
  max-height: 100%;
  overflow: hidden;
}


.App {
  height: 100vh;
  width: 100%;
}

.SelectedWord {
  background: red;
}

.Swipe {
  overflow: hidden;
  height: 100vh;
  width: 100%;

}

.Swipe div {
  height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
