<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>naver</key>
	<dict>
		<key>callback</key>
		<string>gorani://oauth-callback</string>
		<key>tokenurl</key>
		<string>https://nid.naver.com/oauth2.0/token</string>
		<key>authorizeurl</key>
		<string>https://nid.naver.com/oauth2.0/authorize</string>
		<key>secret</key>
		<string>QKgkvuUTyv</string>
		<key>key</key>
		<string>kl5FLOzW3u7sFsuia_Wk</string>
	</dict>
</dict>
</plist>
